body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    width: 100%;
    order: 1;
}

.logo {
    float: left;
    width: 40%;
    display: inline-block;
    padding: 1%;
    order: 2;
}

.logo img {
    width: 100%
}

.authenticate {
    float: right;
    width: 30%;
    margin: 4%;
    text-align: center;
    display: inline-block;
    order: 3;
}

.filterbox {
    width: 24%;
    margin: 1%;
    order: 4;
}

.phoneBoxHolder {
    order: 5;
    margin: 1%;
    width: 72%;
}

.phoneBox {
    width: 250px;
    margin: 1%;
    font-family: sans-serif;
}

.phoneBox img {
    width: 100%;
}

.placeholder {
    font-family: inherit;
}

.price {
    font-weight: bold;
    color: red;
}

a:link.title {
    color: black;
    text-decoration-line: none;
    font-weight: bold;
    font-size: 18px;
} 

a:visited.title {
    color: black;
    text-decoration-line: none;
    font-weight: bold;
    font-size: 18px;
} 

a:active.title {
    color: black;
    text-decoration-line: none;
    font-weight: bold;
    font-size: 18px;
}

a:hover.title {
    color: blue;
    text-decoration-line: none;
    font-weight: bold;
    font-size: 18px;
}

a:link.price {
    font-weight: inherit;
    color: inherit;
    text-decoration-line: none;
    font-size: inherit;
}

a:visited.price {
    font-weight: inherit;
    color: inherit;
    text-decoration-line: none;
    font-size: inherit;
}

a:active.price {
    font-weight: inherit;
    color: inherit;
    text-decoration-line: none;
    font-size: inherit;
}

a:hover.price {
    font-weight: inherit;
    color: green;
    text-decoration-line: underline;
    font-size: inherit;
}

.login {
    order: 4;
    margin: auto;
    width: 50%;
    text-align: center;
}